/* Desktop and laptop */

@media only screen and (min-width: 751px) {
    .add-button {
        float: right;
    }
    .links-table {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    .label-mobile {
        display: none;
    }
}


/* Smartphones (portrait and landscape) */

@media only screen and (max-width: 750px) {
    .inputs-title {
        display: none;
    }
    .btn {
        width: 100%;
        margin-top: 4%;
    }
    .label-mobile {
        margin-top: 4%;
    }
    .mobile-view-inputs {
        border: 1px dashed grey;
        border-radius: 5px;
        padding-bottom: 5%;
        margin-bottom: 3%;
    }
}


/* All devices */

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    width: 100%;
    margin: 0;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links>a:hover {
    color: black;
    background-color: grey;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.nav-item>a:hover {
    background-color: grey;
    border: 1px solid grey;
    border-radius: 3px;
}

.row {
    margin-top: 1%;
}